
.columnLeft {
  width: 100%;
}
.columnRight {
  display: none;
  width: 100%;
}
h1.h1, h2.h2, h3.h3 {
  margin: 0.8rem 0;
}
.fontLight {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}
.fontBold {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}
.fontPink {
  color: #FF4A6E;
}
.mainBtns {
  display: flex;
  flex-direction: column;
}
.btnPrimary {
  background: #FF4A6E;
  border-radius: 12px;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  margin-top: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: 0.1s;
}
.btnPrimary:hover {
  background: #f61945;
}
.btnSecondary {
  border: 1px solid #d0d7de;
  color: #4F5269;
  border-radius: 12px;
  padding: 10px 30px;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  margin-top: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: 0.1s;
}
.btnSecondary:hover {
  background: #FF4A6E;
  color: white;
  border: 1px solid #FF4A6E;
}
.btnSecondary:hover img {
  filter: brightness(1000%);
}

@media only screen and (min-width: 700px) {
  .mainBtns {
    flex-direction: row;
  }
  .btnPrimary {
    width: 200px;
    margin-right: 8px;
    justify-content: center;
  }
  .btnSecondary {
    width: 200px;
    justify-content: center;
  }
}

@media only screen and (min-width:1054px) {
  .container {
    width: 1054px;
  }
  .columnLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .columnRight {
    pointer-events: none;
    display: block;
    width: 50%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    display: flex;
    justify-content: flex-end;
  }
  h1.h1, h2.h2, h3.h3 {
    margin: 0.3rem 0;
  }
  h1.h1 {
    margin-bottom: 0.1rem;
  }
  .mainBtns {
    flex-direction: row;
    margin-top: 10px;
  }
  .fontLight {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
  }
  .fontBold {
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 48px;
  }
}